
<% flash.each do |type, msg| %>
  <div class="toast" data-autohide="false">
      <div class="toast-header text-danger">
        <i class="fas fa-exclamation-circle"></i>  <strong class="mr-auto"><%= msg %></strong>
        <small class="text-muted">Just now</small>
         <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
      </div>
      <div class="toast-body">
        Add your details to login or create a new account
      </div>
    </div>
<% end %>

<% if current_user %>
<div class="container p-3">
    <div class="row">
      <div class="col-11 col-md-6 col-lg-8 signup-box align-self-start m-auto">
      <img class="d-flex text-center m-auto" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.qierge.com%2Fimages%2Ferror404.png&f=1&nofb=1s" width="50%"/>
        <h2 class="text-center m-4">You are logged in</h2>
        <h3 class="text-center m-4">Do you want to create another accout? <br>Please <a href="<%= logout_path %>" class="links">log out</a> first!</h3>
        <h3 class="text-center m-4">Or go to the <a href="/posts" class="links">home page </a></h3>
      </div>
    </div>
  </div>
<% else %>
<div class="container p-3">
  <div class="row">
    <div class="col-lg-7 col-md-6 d-none d-md-block d-lg-block ">
      <h2>Acebook helps you connect with the world</h2>
      <h3>Sign up now and start talking to your friends</h3>
      <div class="d-flex flex-column">
        <div class="post d-flex flex-row">
          <div class="post-img">
              <img alt="Logo" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTk2OGU4NzktODhhOC00Nzc2LWIyNzYtOWViMjljZGFiNTMxXkEyXkFqcGdeQXVyMTE1NTQwOTk@._V1_UY256_CR12,0,172,256_AL_.jpg" class="profile-img">
          </div>
          <div class="post-content  d-flex flex-column">
            <p class="post-text">"All my friends are now connecting to acebook"</p>
            <span class="post-date align-self-end">Posted by Ian one day ago</span>
            <hr>
            <span><i class="fas fa-thumbs-up"></i> Like</span>
          </div>
        </div>
        <div class="post d-flex flex-row">
          <div class="post-img">
              <img alt="Logo" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEzMjA0ODk1OF5BMl5BanBnXkFtZTcwMTA4ODM3OQ@@._V1_UY256_CR5,0,172,256_AL_.jpg" class="profile-img">
          </div>
          <div class="post-content  d-flex flex-column">
            <p class="post-text">Hey guys, Just joined acebook! It's the best</p>
            <span class="post-date align-self-end">Posted by Aman187 two days ago</span>
          </div>
        </div>
        <div class="post d-flex flex-row">
          <div class="post-img">
              <img alt="Logo" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_24787.png&f=1&nofb=1" class="profile-img">
          </div>
          <div class="post-content  d-flex flex-column">
            <p class="post-text">Hey guys, I'm so good at coding it's mad!</p>
            <span class="post-date align-self-end">Posted by Aman187 two days ago</span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-11 col-md-6 col-lg-4 signup-box align-self-start">
    
   
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="signup-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h2 class="text-center">Sign up</h2></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="login-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h2 class="text-center">Login</h2></a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="signup-tab">
      <%= form_for @user do |form| %>
        <div class="m-3 d-flex flex-column">
            <%= form.label :username %>
            <%= form.text_field :username, :required => true %>
            <span id="usernameHelp" class="form-text align-self-end">Choose your username.</span>
          </div>
          <div class="m-3 d-flex flex-column">
            <%= form.label :email %>
            <%= form.email_field :email, :required => true %>
            <span class="error" aria-live="polite"></span>
            <span id="emailHelp" class="form-text align-self-end">We'll never share your email with anyone else.</span>
          </div>
          <div class="m-3 d-flex flex-column">
            <%= form.label :password %>
            <%= form.password_field :password, minlength: 8, :required => true %>
            <span class="error" aria-live="polite"></span>
            <span id="passwordHelp" class="form-text align-self-end">Min 8 characters</span>
          </div>
          <div class="m-3 d-flex flex-column text-center">
            <span id="accept" class="form-text m-3">By creating an account you are accepting the <a href="">terms</a> and <a href="">conditions</a></span>
            <%= form.submit "Sign Me Up!" %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="login-tab">
      <%= render "/sessions/new" %>
      </div>
    </div>
    </div>
  </div>
</div>
<% end %>