<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <% msg.each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>
    <% end %>
    <div class='form' id='sign-up-form'>
      <%= form_for @user do |form| %>
        <%= form.label :username %>
        <%= form.text_field :username %>
        <%= form.label :email %>
        <%= form.email_field :email %>
        <%= form.label :password %>
        <%= form.password_field :password %>
        <%= form.submit "Sign Me Up!" %>
      <% end %>
    </div>
  </body>
</html>
