<% if current_user %>
<div class="container p-3">
    <div class="row">
      <div class="col-11 col-md-6 col-lg-8 signup-box align-self-start m-auto">
      <img class="d-flex text-center m-auto" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.qierge.com%2Fimages%2Ferror404.png&f=1&nofb=1s" width="50%"/>
        <h2 class="text-center m-4">You are logged in</h2>
        <h3 class="text-center m-4">Do you want to create another accout? <br>Please <a href="<%= logout_path %>" class="links">log out</a> first!</h3>
        <h3 class="text-center m-4">Or go to the <a href="/posts" class="links">home page </a></h3>
      </div>
    </div>
  </div>
<% else %>
<div class="container p-3">
  <div class="row">
    <div class="col-lg-7 col-md-6 d-none d-md-block d-lg-block ">
      <h2>Acebook helps you connect with the world</h2>
      <h3>Sign up now and start talking to your friends</h3>
      <div class="d-flex flex-column">
        <div class="post d-flex flex-row">
          <div class="post-img">
            <img class="profile-img" width="50" src="https://images.pexels.com/photos/1858175/pexels-photo-1858175.jpeg?auto=compress&cs=tinysrgb&crop=faces&fit=crop&h=200&w=200" alt="User">
          </div>
          <div class="post-content  d-flex flex-column">
            <div class="d-flex justify-content-between">
              <span id ="username_post">Fernanda</span>
            </div>
            <div class="post-content  d-flex flex-column">
              <p class="post-text">Now with acebook jaanis I can connect with all my friends!!!</p>
            </div>
            <div class="post-content d-flex flex-row">
              <span class="share mb-2">Like</span>
              <i class="fab fa-twitter share m-1"></i>
              <i class="fab fa-facebook-square share m-1" ></i>
              <i class="fab fa-whatsapp share m-1"></i>
              <span class="post-date align-self-end mb-2 ml-4">04/02/20201 - 22:06</span>
              </div>
          </div>
        </div>
        <div class="post d-flex flex-row">
          <div class="post-img">
            <img class="profile-img" width="50" src="https://images.pexels.com/photos/839011/pexels-photo-839011.jpeg?auto=compress&cs=tinysrgb&crop=faces&fit=crop&h=200&w=200" alt="User">
          </div>
          <div class="post-content  d-flex flex-column">
            <div class="d-flex justify-content-between">
              <span id ="username_post">Smith</span>
            </div>
            <div class="post-content  d-flex flex-column">
              <p class="post-text">acebook jaanis is the best app ever</p>
            </div>
            <div class="post-content d-flex flex-row">
              <span class="share mb-2">Like</span>
              <i class="fab fa-twitter share m-1"></i>
              <i class="fab fa-facebook-square share m-1" ></i>
              <i class="fab fa-whatsapp share m-1"></i>
              <span class="post-date align-self-end mb-2 ml-4"">01/02/20201 -02:28</span>
              </div>
          </div>
        </div>
        <div class="post d-flex flex-row">
          <div class="post-img">
            <img class="profile-img" width="50" src="https://images.pexels.com/photos/594421/pexels-photo-594421.jpeg?crop=faces&fit=crop&h=200&w=200&auto=compress&cs=tinysrgb" alt="User">
          </div>
          <div class="post-content  d-flex flex-column">
            <div class="d-flex justify-content-between">
              <span id ="username_post">Holly</span>
            </div>
            <div class="post-content  d-flex flex-column">
              <p class="post-text">I can see what my friends are doing right now!</p>
            </div>
            <div class="post-content d-flex flex-row">
              <span class="share mb-2">Like</span>
              <i class="fab fa-twitter share m-1"></i>
              <i class="fab fa-facebook-square share m-1" ></i>
              <i class="fab fa-whatsapp share m-1"></i>
              <span class="post-date align-self-end mb-2 ml-4"">25/01/2021 - 12:52</span>
              </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-11 col-md-6 col-lg-4 signup-box align-self-start">


    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="signup-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h2 class="text-center">Sign up</h2></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="login-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h2 class="text-center">Login</h2></a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="signup-tab">
      <%= form_for @user do |form| %>
        <div class="m-3 d-flex flex-column">
            <%= form.label :username %>
            <%= form.text_field :username, :required => true %>
            <span id="usernameHelp" class="form-text align-self-end">Choose your username.</span>
          </div>
          <div class="m-3 d-flex flex-column">
            <%= form.label :email %>
            <%= form.email_field :email, :required => true %>
            <span class="error" aria-live="polite"></span>
            <span id="emailHelp" class="form-text align-self-end">We'll never share your email with anyone else.</span>
          </div>
          <div class="m-3 d-flex flex-column">
            <%= form.label :password %>
            <%= form.password_field :password, minlength: 8, :required => true %>
            <span class="error" aria-live="polite"></span>
            <span id="passwordHelp" class="form-text align-self-end">Min 8 characters</span>
          </div>
          <div class="m-3 d-flex flex-column text-center">
            <span id="accept" class="form-text m-3">By creating an account you are accepting the <a href="">terms</a> and <a href="">conditions</a></span>
            <%= form.submit "Sign Me Up!" %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="login-tab">
      <%= render "/sessions/new" %>
      </div>
    </div>
    </div>
  </div>
</div>
<% end %>
<%= javascript_include_tag('users.js') %>
