<% if current_user %>
  <div class="container p-3">
    <div class="row m-auto">
      <div class="col-lg-10 col-md-6 m-auto writing-post">
        <%= form_for @post do |form| %>
          <div class="m-3 d-flex flex-column">
            <%= form.text_area :message, id: "postBox", placeholder: "What are you thinking?...", :required => true %>
          </div>
          <%= button_tag type: "submit", class: "send-post", id: "send-button" do %>
            <i class='fas fa-paper-plane'></i>
          <% end %>
        <% end %>
      </div>
      <hr>
      <div class="col-lg-10 col-md-9 m-auto">
        <h3 class="text-center"><i class='fas fa-paper-plane'></i> All posts</h3>
        <div class="d-flex flex-column" id="posts">
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "posts" %>
<% else %>
<div class="container p-3">
  <div class="row">
    <div class="col-11 col-md-6 col-lg-8 signup-box align-self-start m-auto">
    <img class="d-flex text-center m-auto" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.qierge.com%2Fimages%2Ferror404.png&f=1&nofb=1s" width="50%"/>
      <h2 class="text-center m-4">Nothing to see here</h2>
      <h3 class="text-center m-4">To start talking to your friends <br>Please <a href="<%= root_path %>" class="links">create an accout!</a></h3>
      <h3 class="text-center m-4">I already have an account, <a href="<%= root_path %>" class="links">let me in!</a></h3>
    </div>
  </div>
</div>
<% end %>

  
