<h1> This is the ruby stuff </h1> 

<div class="container p-3">
  <div class="row m-auto">
    <div class="col-lg-10 col-md-6 m-auto writing-post">
      <%= form_for @post do |form| %>
      <div class="m-3 d-flex flex-column">
        <%= form.text_area :message, placeholder: "What are you thinking?...", :required => true %>
      </div>
      <%= button_tag type: "submit", class: "send-post", id: "send-button" do %>
      <i class='fas fa-paper-plane'></i>
      <% end %>
      <% end %>
    </div>
    <hr>
    <div class="col-lg-10 col-md-9 m-auto">
      <h3 class="text-center"><i class='fas fa-paper-plane'></i> All posts</h3>
      <div class="d-flex flex-column">
        <% @posts.each do |post| %>
          <div class="post d-flex flex-row">
            <div class="post-img">
              <%= image_tag("user", width: 50) %>
            </div>
            <div class="post-content  d-flex flex-column">
              <div class="d-flex justify-content-between">
                <span class="username"><%= post.user.username %></span>
                <% if current_user.username == post.user.username %>
                  <%= link_to post, method: :delete, data: { confirm: "Are you sure?", remote: true }, class: "delete" do %>
                  <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
              <p class="post-text my-2">
                <%= post.message %>
              </p>
              <span class="post-date align-self-end">Posted at
                <%= post.created_at.strftime("%H:%M %A %B %-d") %></span>
                 <% if current_user.username == post.user.username %>
                <p class="post-text"><%= link_to "Edit", edit_post_path(post) %></p>
                <% end %>
            </div>
          </div> 
        <% end %>
      </div>
    </div>
    <h1> This is the JS stuff </h1> 
    <div class="col-lg-10 col-md-6 m-auto">
      <h3 class="text-center"><i class='fas fa-paper-plane'></i> All posts</h3>
      <div class="d-flex flex-column" id="posts">
      
      </div> 
    </div> 
    <%= javascript_include_tag "posts" %>
    
